html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

/* General Styles */
body {
  height: 100vh;
  background: radial-gradient(#35577D, #141E30);
  font-family: 'Syne Mono', monospace;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#back-arrow {
  cursor: pointer;
  font-size: 5rem;
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 10px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 0 #e60073;
  font-family: 'DotGothic16', sans-serif;
  position: relative;
  right: 110px;
}

#back-nav {
  text-decoration: none;
}


#app h1 {
  font-size: 4.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #fff5f6;
  text-shadow:
  0 0 1px #ff66d4,
  0 0 2px #ff66d4,
  0 0 50px #ff66d4,
  0 0 10px #ff66d4;
}

#topics-container {
  width: 610px;
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 2rem;
}

#topics-container a {
  text-decoration: none;
}

.topic {
  height: 300px;
  width: 300px;
  display: grid;
  place-items: center;
  font-size: 3rem;
  color: #fff5f6;
  background: #2a2039;
  border-radius: 15px;
  text-shadow:
    0 0 1px #ff66d4,
    0 0 2px #ff66d4,
    0 0 50px #ff66d4,
    0 0 10px #ff66d4;
}

.topic-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1000px;
}

.topic-heading {
  font-size: 3rem;
  color: white;
  text-shadow:
  0 0 1px #ff66d4,
  0 0 2px #ff66d4,
  0 0 50px #ff66d4,
  0 0 10px #ff66d4;
  margin-bottom: 1rem;
}

h3.topic-heading {
  text-align: center;
  font-size: 2.7rem;
}

.resources-list li {
  display: flex;
  margin-bottom: 20px;
}

.resources-list i {
  font-size: 2rem;
  color: #fff;
  text-shadow: 0 0 10px #ff66d4, 0 0 20px #ff66d4, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  margin-right: 15px;
}

.resources-list a {
  font-size: 2rem;
  color: white;
  text-shadow:
  0 0 1px #ff66d4,
  0 0 2px #ff66d4,
  0 0 50px #ff66d4,
  0 0 10px #ff66d4;
}

/* Media Query */
@media screen and (max-width: 500px) {
  #topics-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}